---
layout: page
title: Blog PET-Inf 3.2
---

<!-- Header -->

<div class="jumbotron jumbotron-fluid jblog">
  <div class="container">
    <h1 class="display-4">Blog</h1>
    <hr>
    <p class="lead">Acompanhe nossas publicações!</p>
  </div>
</div>

<div class="row pagina-blog">  

  <!-- Sidebar -->

    <div class="col-lg sidebar-container">
      <div class="container">
        <div class="shadow p-3 sidebar">
          <h5 class="text-center">Categorias</h5>
          {% for tag in site.tags %}
            <h4>{{ tag[0] }}</h4>
              <ul>
                {% for post in tag[1] %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
          {% endfor %}
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique maiores quasi odit assumenda minima doloribus beatae, sed fugiat ab mollitia magnam iure saepe animi sapiente earum. Totam placeat enim sequi.</p>
        </div>
      </div>
    </div>
    
  <!-- Cards Blog -->
    
    <div class="col-lg">
      {% for post in site.posts %}
        <div class="shadow p-3 mb-5 rounded container mb-4 card-blog">
          <div class="row card-blog-row">
            <a class="col-sm-4 imagem" style="background-image: url(assets/img/capa-site.png);" href="" alt="Imagem de capa do card"></a>
            <div class="col-sm-8">
              <h5 class="titulo-card">
                <a href="{{ post.url }}">{{ post.caption.title }}</a>
              </h5>
              <p class="descriçao">{{ post.caption.subtitle }}</p>
              <hr>
              <p class="data">{{ post.caption.data }}</p>
            </div>
          </div>
        </div>  
      {% endfor %}
    </div>

</div>