/* nav-header */

.navheader {
  margin-top: 110px;
}

/* header-blog */

.jblog {
  margin-top: 110px;
}

.pagina-blog {
  margin: 15px;
}

/* cards */

.card-blog {
  transition-timing-function: ease;
  transition-duration: 0.4s;
}

.card-blog-row {
  padding: 0 15px;
}

.card-blog:hover {
  background-color: rgb(240, 240, 240);
}

.imagem {
  min-height: 12rem;
  max-width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 10px 0 0 10px;
}

@media(max-width:560px) {
  .imagem {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}

.titulo-card {
  margin-top: 10px;
  font-weight: 100;
}

.titulo-card a {
  text-decoration: none;
  color: #263959;
  font-size: 30px;
}

.card-tg-data {
  display: flex;
  justify-content: flex-end;
  color: #b7b9c2;
  position: relative;
  bottom: 10px;
}

.card-tg::after {
  content: "";
  position: relative;
  bottom: 0.25rem;
  display: inline-block;
  height: 3px;
  width: 3px;
  margin: 0 .5rem 0 .5rem;
  border-radius: 50%;
  background-color: #b7b9c2;
}

.card-data {
  text-align: end;
  font-family: 'Montserrat';
  font-size: 15px;
}

/* carrossel */

.carrossel {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.texto-capa {
  padding-top: 125px;
  padding-left: 20px;
  padding-right: 20px;
}

.texto-capa p {
  font-size: 20px;
  text-align: center;
}

.texto-capa h1 {
  font-size: 35px;
  text-align: center ;
}

@media(min-width:560px) {

  .texto-capa {
    padding-top: 120px;
  }

  .texto-capa p {
    font-size: 25px;
  }

  .texto-capa h1 {
    font-size: 45px;
  }
}

/* Sidebar */

.sidebar {
  border-style: solid;
  border-width: 1px;
  border-color: #cbcbcb;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #E4E4E4;
  color: #333;
}

@media(min-width:992px) {
  .sidebar-container {
    max-width: 290px;
  }
}

@media(min-width:1440px) {
  .sidebar-container {
    max-width: 450px;
  }
}

.texto-tg {
  color: #333;
}

/* post */

.postcont {
  margin-top: 110px;
}
