/* cards */

.card-blog {
  transition-timing-function: ease;
  transition-duration: 0.4s;
}

.card-blog:hover {
  background-color: rgb(240, 240, 240);
}

.card-blog-row {
  padding: 0 15px;
}

.imagem {
  min-height: 14rem;
  width: 30%;
  max-width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.data {
  text-align: end;
}

.titulo-card {
  margin-top: 10px;
}

@media(max-width:560px) {
  .imagem {
    width: 100%;
  }
}