.secao-memoria {
  margin: 15px;
}

@media (min-width: 1440px) {
  .secao-memoria {
    padding: 0 150px 0 150px;
  }
}

.evento .imagem-evento {
  width: 100%;
  object-fit: cover;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 500px) {
  .evento .imagem-evento {
    height: 200px;
  }
}

.evento .data-imagem-evento {
  position: absolute;
  bottom: 15%;
  background: rgba(255, 255, 255, 0.7);
  width: 93%;
  text-align: center;
}