.secao-memoria {
  margin: 15px;
}

@media (min-width: 1440px) {
  .secao-memoria {
    padding: 0 150px 0 150px;
  }
}

.projetos-link {
  position: relative;
  display: block;
}

.projetos-hover {
  position: absolute;
  top: 15px;
  width: 100%;
  height: 93%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(255, 255, 255, 0.4);  
}

.projetos-hover:hover {
  opacity: 1;
} 

.evento .imagem-evento {
  width: 100%;
  object-fit: cover;
  height: 100px;
  margin-top: 15px;
}

@media (min-width: 500px) {
  .evento .imagem-evento {
    height: 200px;
  }
}

.evento .data-imagem-evento {
  background: #e9ecef;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 500px) {
  .evento .data-imagem-evento {
    font-size: small;
  }
} 

.evento .data-imagem-evento p {
  margin-bottom: 0;
}