---
layout: default
---
{% include nav.html %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ site.post.caption.title }}</h1>
      <h6>{{ post.caption.subtitle }}</h6>
      <p style="text-align: justify;">{{ content }}</p>
    </div>
  </div>
</div>



  

<!-- <div class="container" id="post{{ forloop.index }}">
  <div class="row">
    <div class="col-lg-9 mx-auto">

        <h2 class="text-uppercase">{{ post.title }}</h2>
        <p class="item-intro text-muted">{{ post.subtitle }}</p>
        <img class="img-fluid d-block mx-auto" src="{{ post.image }}" alt="{{ post.alt }}">
  <p>{{ post.content }}</p> 
        <p class="text">{{ post.text }}</p>
      
    </div>
  </div>
  <div class="row">
    {% for person in post.people %}
    <div class="col">
      <div class="team-member">
        <img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">
        <h4>{{ person.name }}</h4>
        <p class="text-muted">{{ person.role }}</p>
        <ul class="list-inline social-buttons">
        {% for network in person.social %}
          <li class="list-inline-item">
            <a href="{{ network.url }}" target="_blank">
              <i class="{{ network.icon }}"></i>
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
    <div class="button col-lg-12 mx-auto">
      <button class="btn btn-primary" data-dismiss="modal" type="button">
      <i class="fas fa-angle-left"></i>
      Voltar</button>
    </div>
  </div>
</div> -->