---
layout: default
---

{% include nav.html %}

<section class="bg-light page-section" id="{{ site.data.sitetext.blog.section | default: "blog" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ post.title }}</h2>
      </div>
    </div>
    <div class="row">

        <div class="col-md-4 col-sm-6 blog-item">
          <a class="blog-link" href="{{ post.url }}">
            <div class="blog-hover"></div>
            <img class="img-fluid" src="{{ post.caption.thumbnail }}" alt="">
          </a>
          <div class="blog-caption">
            <p class="post-data">{{ post.caption.data }}</p>
            <h4>
              <a href="{{ post.url }}">{{ post.caption.title }}</a>
            </h4>
            <p class="blog-subtitle">{{ post.caption.subtitle }}</p>
          </div>
        </div>

    </div>
  </div>
</section>

  {{ content }}

<!-- <div class="container" id="post{{ forloop.index }}">
  <div class="row">
    <div class="col-lg-9 mx-auto">

        <h2 class="text-uppercase">{{ post.title }}</h2>
        <p class="item-intro text-muted">{{ post.subtitle }}</p>
        <img class="img-fluid d-block mx-auto" src="{{ post.image }}" alt="{{ post.alt }}">
  <p>{{ post.content }}</p> 
        <p class="text">{{ post.text }}</p>
      
    </div>
  </div>
  <div class="row">
    {% for person in post.people %}
    <div class="col">
      <div class="team-member">
        <img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">
        <h4>{{ person.name }}</h4>
        <p class="text-muted">{{ person.role }}</p>
        <ul class="list-inline social-buttons">
        {% for network in person.social %}
          <li class="list-inline-item">
            <a href="{{ network.url }}" target="_blank">
              <i class="{{ network.icon }}"></i>
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
    <div class="button col-lg-12 mx-auto">
      <button class="btn btn-primary" data-dismiss="modal" type="button">
      <i class="fas fa-angle-left"></i>
      Voltar</button>
    </div>
  </div>
</div> -->