---
layout: default
---
{% include nav.html %}

<!-- Header -->

<div class="jumbotron jumbotron-fluid jblog" style="text-align: center; background-color: white; padding-bottom: 1px;">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <hr>
    <p class="data">{{ page.data }}</p>
  </div>
</div>


<!-- post-content -->

<div class="container pagina-post">  
  
  <div class="col-lg">

    {{ content }}

    <footer class="post-footer">
      <figure class="img-pet">
        <img src="/assets/img/PET-logo.png" alt="logo PET-Informática">
      </figure>
      <div class="row" style="justify-content: space-around;">
        <div class="autores">
          <p style="color: #b7b9c2; font-family: 'Montserrat';">Escrito por:</p>
          {% for autor in page.autores %}
          <h5 style="font-family: 'Montserrat'; font-size: 1rem;">{{ page.autores.autor }}</h5>
          {% endfor %}
        </div>
        <div class="share">
          <p style="color: #b7b9c2; font-family: 'Montserrat';">Compartilhe:</p>
          <ul class="lista-redes-footer">
            <li class="lista-redes">
              <a href=""><i class="fab fa-facebook-square fa-lg" style="color: #4267B2;;"></i></a>
            </li>
            <li class="lista-redes">
              <a href=""><i class="fab fa-linkedin fa-lg" style="color: #0072b1;"></i></a>
            </li>                    
            <li class="lista-redes">
              <a href=""><i class="fab fa-instagram instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  
</div>